.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  background: rgba(255, 255, 255, 1);
  top: 15px;
  margin: 0;
  gap: 8px;
  border-radius: 4px;
  padding-top: 2px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-left: 12px;
}
.card__header {
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.card__image {
  width: 100%;
}

.card__like-icon {
  width: 18px;
  height: 15px;
  object-fit: contain;
}
.card__like-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
