.page {
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: #f3f3f3;
}
.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.modal__label {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__input {
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #00000080;
  border-left: none;
  border-right: none;
  border-top: none;
}

.modal__label_type_radio {
  padding: 5px;
}
.modal__legend {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  padding-bottom: 5px;
}
