.modal__content__text {
  text-align: center;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.modal__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__btn {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  background-color: #fff;

  border: none;
  color: rgba(0, 0, 0, 1);
}

.modal__btn_confirm {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(255, 77, 0, 1);
}
