.clothes-section > div {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 8px;
}
button {
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;

  color: rgba(0, 0, 0, 0.6);
}

.clothes-section__p {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0%;
}
